<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GesNautico.DAL.SettingsLitedb" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GesNautico.DAL.SettingsLitedb>
            <setting name="ConnString" serializeAs="String">
                <value>GesNautico.db4</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>DB</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>GesNautico.db4</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheSize" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Shared</value>
            </setting>
            <setting name="InitialSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LimitSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Async" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Journal" serializeAs="String">
                <value>True</value>
            </setting>
        </GesNautico.DAL.SettingsLitedb>
    </applicationSettings>
</configuration>