<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GesNautico.Shared.SharedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GesNautico.Shared.SharedSettings>
            <setting name="ValorQuota" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EscalaoAtleta" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Todos</string>
                        <string>Normal</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Genero" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Masc.</string>
                        <string>Fem.</string>
                        <string>Indef.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Estado" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Activo</string>
                        <string>Inactivo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Estados" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Activos</string>
                        <string>Inactivos</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Sexos" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Masc.</string>
                        <string>Fem.</string>
                        <string>Indef.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </GesNautico.Shared.SharedSettings>
    </applicationSettings>
</configuration>