<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GesNautico.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GesNautico.UI.Settings>
            <setting name="Color01" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="Color02" serializeAs="String">
                <value>White</value>
            </setting>
        </GesNautico.UI.Settings>
    </userSettings>
</configuration>